<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="description" content="Crawler for Malwarebytes.com">
    <meta name="author" content="Cyrus Cowley">
    <title>Malwarebytes Crawler</title>
    <link rel="stylesheet" href="/static/css/style_sheet.css">
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>

{% include "includes/header.html" with search=search%}

<div class="container">
    <div class="jumbotron">
        <h1>Database Access</h1>
    </div>
    <div class="col-lg-8">
        <h3 class="text-center">All links with a status of {{ searched_for }} </h3>
        <hr/>
        <table class="table" style="width:100%; table-layout:fixed;">
            <thead>
            <tr>
                <th style="width:20%;">#</th>
                <th style="width:20%;">Status Code</th>
                <th style="width:60%;">Url (click to see details)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in status %}
                <tr>
                    <td style="width:20%;">{{i.number}}</td>
                    <td style="width:20%;">{{ i.code }}</td>
                    <td style="width:60%;"><a href="link-details?input={{ i.url }}">{{ i.url }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h3 class="text-center">Look for new statuses</h3>
        <hr/>
        <form onsubmit="return submit_form()">
            <div class="form-group">
                <label for="searchbox">Search for Statuses</label>
                {{form}}
                {% csrf_token %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr/>
        <form action="">
            <button type="submit" class="btn btn-default btn-danger">Clear Database</button>
        </form>
    </div>
</div>

{% include "includes/footer.html" %}

<script>
    $(".links").children().eq(0).addClass("active");
</script>
</body>
</html>