<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="Web Crawler">
    <meta name="author" content="Cyrus Cowley">
    <title>Cyrus's Crawler</title>
    <link rel="stylesheet" href="/static/css/style_sheet.css">
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>

{% include "includes/header.html" with search=search%}


<div class="container">
    <div class="jumbotron">
        <h1>Details for Link:</h1>
        <h3 style="word-wrap:break-word; padding-left: 10%;"><a id = "main-link" target="_blank" style="text-decoration: underline; color:rgb(51,51,51);" href="{{ url }} ">{{ url }}</a> <button id="copyButton" class="btn btn-default" data-clipboard-target = "#main-link">Copy</button></h3>
    </div>
    <div class="col-lg-6">
        <h3>Current status of link :: {{ status }}</h3>
        <hr/>
        <div id="replaceable">
            <h3>Links responding with 404 on this page</h3>
            <table class="table" id="crawl-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Url (click to see details)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="remove-me">
                    <td>1.</td>
                    <td>Click crawl only this page to find links on page</td>
                </tr>
                </tbody>
            </table>
            <button type="button" onclick="crawl_page()" class="btn-success btn-default btn">Crawl Only This Page</button>
        </div>
        <div id="not_replaceable" class="hidden">
            <h3>Please wait, the page is currently being crawled</h3>
            <p>(This usually takes around 30-45 seconds)</p>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>Where this page is linked from</h3>
        <p>(You must recrawl entire website to update this data)</p>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Status Code</th>
                <th>Url (click to see details)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in status_chart %}
                <tr>
                    <td>{{i.number}}</td>
                    <td>{{i.status_code}}</td>
                    <td><a href="link-details?input={{ i.url }}">{{ i.url }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "includes/footer.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>


<script type="text/javascript">
    var clipboard =  new Clipboard('#copyButton');
    clipboard.on('success', function(e) {
      e.clearSelection();
      var copyButton = $("#copyButton");
      copyButton.removeClass("btn-default");
      copyButton.addClass("btn-success");
      copyButton.text("Copied");
    });
    function switch_text() {
        $('#replaceable').toggleClass("hidden");
        $('#not_replaceable').toggleClass("hidden");
    }
    function crawl_page() {
        switch_text();
        $.ajax({
            url: '/ajax/crawl-page/',
            data: {
                "main_url" : $("#main-link").html()
            },
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                $('.remove-me').remove();
                var data_table = data["broken_urls"];
                for(var i = 0; i < data_table.length; i ++){
                    var adding = ["<tr class = 'remove-me'><td>",i + 1,"</td><td><a href='link-details?input=",data_table[i],"'>", data_table[i], "</td></tr>"].join("");
                    $('#crawl-table').find('tr:last').after(adding);
                }
                if(data_table.length === 0){
                    $('#crawl-table').find('tr:last').after("<tr class = 'remove-me'><td>1</td><td>No 404s on page</td></tr>");
                }
                switch_text();
            }
        });
    }
</script>
</body>
</html>