<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">Written by <a href="mailto:cyficowley@gmail.com?Subject=Can%20I%20please%20hire%20you%20for%20lots%20of%20money">Cyrus Cowley</a></p>
        <p class="navbar-text pull-right">Last updated 9/5/17</p>
    </div>
</div>

<div id="links">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/bootstrap.js"></script>
</div>